/* All Anchor Text */

a {
  color: #0561ff;
}

a:visited {
  color: #666666;
}

.tdb_single_content a {
  color: #0561ff;
  text-decoration: underline !important;
}

.tdb_single_content a:visited {
  color: #0561ff;
}

/* Responsive Button CSS*/

/* when we set a button with the block setting that width is apply all screen size */

/* Alternatively we need to remove 25% or 50% on the button block */

.wp-block-button:not(.is-style-outline) a.wp-block-button__link {
  padding: 9px 24px;
}

.wp-block-button .wp-block-button__link {
  padding: 20px 12px;
}

/* Dowload Button */

.wp-block-file__button {
  background: #e7077f;
  font-weight: 600;
  color: #fff !important;
  text-decoration: none;
}

/* Hover effects */

.tdb_single_content a:hover {
  text-decoration: underline !important;
}

.tdi_92 .tdb-next-post a:hover {
  color: #d8006c;
}

.td-authors-name a:hover {
  color: #d8006c !important;
}

/* Single Page Hover Effect  */

.entry-title a {
  font-weight: 600;
}

.entry-title a:hover {
  color: #d8006c !important;
}

.td_module_6 .entry-title {
  font-size: 16px;
  line-height: 1.4;
}

.td-module-meta-info {
  font-size: 14px;
}

.td-excerpt {
  font-size: 15px;
}

.tdi_87,
.tdi_86,
.tdi_85 h2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 35px;
  border-bottom: 2px solid #e0e0e0;
}

hr {
  max-width: none !important;
}

/*  Main Menu Custom Link Hover pointer to Cursor*/

.tdb_header_menu .tdb-menu > li > a .tdb-menu-item-text,
.tdb_header_menu .tdb-menu > li > a span {
  cursor: pointer;
}

/* The Keyboard Input element */

kbd {
  font-size: 16px;
  font-weight: 500;
  color: #4e4e4e;
  background-color: #f7f7f7;
  padding: 4px 7px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #fafafa inset,
    0 0 0 1px #fff inset;
  margin: 0 1px;
}

@media (min-width: 768px) {
  kbd {
    font-size: 17px;
  }
}

/*  Footer Menu */

.footerMenu a:hover {
  color: #d8006c !important;
  font-weight: 600;
}

/* Scroll Up */

.td-scroll-up {
  background-color: #d8006c !important;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 29px;
  right: 40px;
}

.td-scroll-up:hover {
  background-color: #000;
}

@media (max-width: 767.98px) {
  .td-scroll-up {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

/* Header menu display screen wide */

@media (min-width: 768px) {
  .td-pb-row {
    margin-right: -15px;
    margin-left: -16px;
    position: relative;
  }
}

@media (min-width: 805px) {
  .td-pb-row {
    margin-right: -22px;
    margin-left: -23px;
    position: relative;
  }
}

@media (min-width: 853px) {
  .td-pb-row {
    margin-right: -31px;
    margin-left: -31px;
    position: relative;
  }
}

@media (min-width: 895px) {
  .td-pb-row {
    margin-right: -46px;
    margin-left: -46px;
    position: relative;
  }
}

@media (min-width: 900px) {
  .td-pb-row {
    margin-right: -48px;
    margin-left: -48px;
    position: relative;
  }
}

@media (min-width: 912px) {
  .td-pb-row {
    margin-right: -50px;
    margin-left: -50px;
    position: relative;
  }
}

@media (min-width: 960px) {
  .td-pb-row {
    margin-right: -62px;
    margin-left: -62px;
    position: relative;
  }
}

@media (min-width: 992px) {
  .td-pb-row {
    margin-right: -71px;
    margin-left: -71px;
    position: relative;
  }
}

@media (min-width: 1009px) {
  .td-pb-row {
    margin-right: -75px;
    margin-left: -75px;
    position: relative;
  }
}

@media (min-width: 1019px) {
  .td-pb-row {
    margin-right: -20px;
    margin-left: -20px;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .td-pb-row {
    margin-right: -21px;
    margin-left: -21px;
    position: relative;
  }
}

@media (min-width: 1047px) {
  .td-pb-row {
    margin-right: -27px;
    margin-left: -27px;
    position: relative;
  }
}

@media (min-width: 1060px) {
  .td-pb-row {
    margin-right: -30px;
    margin-left: -30px;
    position: relative;
  }
}

@media (min-width: 1080px) {
  .td-pb-row {
    margin-right: -36px;
    margin-left: -36px;
    position: relative;
  }
}

@media (min-width: 1129px) {
  .td-pb-row {
    margin-right: -48px;
    margin-left: -48px;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .td-pb-row {
    margin-right: -51px;
    margin-left: -51px;
    position: relative;
  }
}

@media (min-width: 1297px) {
  .td-pb-row {
    margin-right: -70px;
    margin-left: -70px;
    position: relative;
  }
}

@media (min-width: 1303px) {
  .td-pb-row {
    margin-right: -71px;
    margin-left: -71px;
    position: relative;
  }
}

@media (min-width: 1318px) {
  .td-pb-row {
    margin-right: -80px;
    margin-left: -77px;
    position: relative;
  }
}

@media (min-width: 1321px) {
  .td-pb-row {
    margin-right: -83px;
    margin-left: -83px;
    position: relative;
  }
}

@media (min-width: 1366px) {
  .td-pb-row {
    margin-right: -87px;
    margin-left: -87px;
    position: relative;
  }
}

@media (min-width: 1422px) {
  .td-pb-row {
    margin-right: -101px;
    margin-left: -101px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .td-pb-row {
    margin-right: -105px;
    margin-left: -105px;
    position: relative;
  }
}

@media (min-width: 1874px) {
  .td-pb-row {
    margin-right: -214px;
    margin-left: -214px;
    position: relative;
  }
}

@media (min-width: 1920px) {
  .td-pb-row {
    margin-right: -225px;
    margin-left: -225px;
    position: relative;
  }
}

/* Breadcrumb styling */

.entry-crumbs a {
  color: #d8006c;
  font-size: 14px;
  font-weight: 800;
}

span.td-bred-no-url-last,
span.tdb-bred-no-url-last {
  color: #a2a2a2;
  font-size: 14px;
  font-weight: 600;
}

/* Single Page Crumb Container */

@media (min-width: 391px) and (max-width: 791px) {
  .td-crumb-container {
    margin-left: -2px !important;
    margin-bottom: 35px !important;
  }
}

@media (min-width: 792px) and (max-width: 930px) {
  .td-crumb-container {
    margin-left: -7px !important;
    margin-bottom: 35px !important;
  }
}

@media (min-width: 931px) {
  .td-crumb-container {
    margin-left: -2px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 968px) {
  .td-crumb-container {
    margin-left: -40px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 991px) {
  .td-crumb-container {
    margin-left: -50px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 1019px) {
  .td-crumb-container {
    margin-left: 0 !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 1200px) {
  .td-crumb-container {
    margin-left: -21px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 1313px) {
  .td-crumb-container {
    margin-left: -44px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 1366px) {
  .td-crumb-container {
    margin-left: -60px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 1483px) {
  .td-crumb-container {
    margin-left: -80px !important;
    margin-bottom: 52px !important;
  }
}

@media (min-width: 1875px) {
  .td-crumb-container {
    margin-left: -200px !important;
    margin-bottom: 52px !important;
  }
}

/* Hidden reCAPTCHA v3 badge */

.grecaptcha-badge {
  display: none !important;
  visibility: hidden !important;
}

/* WPForms plugin styles */

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  padding: 13px 16px 24px 0;
  clear: both;
  position: relative;
  text-align: center;
}

div.wpforms-container
  .wpforms-form
  div.wpforms-submit-container
  button[type="submit"] {
  background-color: #d8006c;
  text-align: center;
  font-size: 16px;
  padding: 10px 79px;
  font-family: "Open Sans", "Open Sans Regular", sans-serif;
}

@media (min-width: 768px) {
  div.wpforms-container
    .wpforms-form
    div.wpforms-submit-container
    button[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    padding: 9px 100px;
    /* margin-left: 80px; */
    margin-bottom: 35px;
  }
}

@media (min-width: 1020px) {
  div.wpforms-container
    .wpforms-form
    div.wpforms-submit-container
    button[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    padding: 9px 180px;
    /* margin-left: 150px; */
    margin-bottom: 35px;
    margin-top: 20px;
  }
}

@media (min-width: 1874px) {
  div.wpforms-container
    .wpforms-form
    div.wpforms-submit-container
    button[type="submit"] {
    padding: 9px 270px;
    /* margin-left: 150px; */
  }
}

/* WPForms input field styles */

div.wpforms-container
  .wpforms-form
  div.wpforms-field-container
  .wpforms-field
  .wpforms-field-label {
  color: #000;
  font-size: 16px;
  font-weight: 800;
}

/* WPForms input box shadow */

#wpforms-948-field_9,
#wpforms-948-field_10,
#wpforms-948-field_1,
#wpforms-948-field_2,
#wpforms-948-field_7,
#wpforms-948-field_8 {
  box-shadow: 0.5px 0 4px #777;
  border-radius: 5px;
}

/* WPForms input padding */

input#wpforms-948-field_9,
input#wpforms-948-field_10,
input#wpforms-948-field_1,
input#wpforms-948-field_2,
input#wpforms-948-field_7,
input#wpforms-948-field_8,
#wpforms-948-field_2 {
  padding-left: 10px;
}

/* WPForms form box styling */

#wpforms-form-948 {
  box-shadow: 0.5px 2px 5px;
  padding: 20px;
  border-radius: 8px;
}

/* Top margin for H1 post tag */

div.td_block_wrap.tdb_title.tdi_76.tdb-category-title.td-pb-border-top.td_block_template_1
  > div
  > h1 {
  margin-top: 30px;
}

/* code */

code {
  background: black;
  color: white;
  font-size: 16px;
}

@media (min-width: 768px) {
  code {
    font-size: 18px;
  }
}
